$--primary-100: --primary-100;
$--primary-200: --primary-200;
$--primary-300: --primary-300;

$--secondary-100: --secondary-100;
$--secondary-200: --secondary-200;
$--secondary-300: --secondary-300;

$--warning: --warning;

$--text-base: --text-base;
$--text-base-inverse: --text-base-inverse;
$--input-background: --input-background;
$--background: --background;
$--disabled: --disabled;
$--border: --border;
$--white: --white;
