@import '@/styles/index.module.scss';

.c-supplier-details-page {
  @include max-width;
  padding: 2.4rem 0;

  &__loading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
  }

  &__submit-button {
    position: absolute;
    top: -4.5rem;
    right: 13rem;
    width: 12rem;
  }
}